.fib {
	--prevPrev: calc(var(--prev));
	--prev: calc(var(--curr));
	--curr: calc(var(--prevPrev) + var(--prev))
}

.fib-init {
	--prev: 0;
	--curr: 1;
}

.loop {
	--n: calc(var(--n) - 1);
}

#fib-init > #fib:matches(#loop n) > console #log {
	--n: 10;
}